<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Medical Transcription </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    
  <title>Main Page</title>
</head>
<body class="step1">
  <header class="showcase">
    <div class="container showcase-inner">
      <h1> Voice Recognition Based Medical Transcription </h1><br>
      <p> This is a web based demonstration of a technology to produce a medical transcription. Use sample.wav to get started </p>
      <a href="{{ url_for('home') }}"> <p> Let's Go </p> </a>
    </div>
  </header>
</body>
</html>
